a:hover
{
    background-color: #bbd;
}

ul li
{
    background: url(pics/li-triangle.svg) center left no-repeat;
    list-style: none;
    padding-left: 17px;
}

li
{
    margin-left: 5px;
}

ul {
    padding-left: 0px;
}

h1
{
    margin-top: 0px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 35px;
    font-size: 120%;
    text-align: left;
    padding: 5px;
    padding-left: 20px;
    color: white;
    background-color: blue;
    font-weight: normal;
    background: -moz-linear-gradient(left, #00c, black);
    background: -webkit-linear-gradient(left, #00c, black);
    -moz-box-shadow: 0px 3px 10px #000;
}

.theorem
{
    -moz-box-shadow: 0px 3px 7px #555;
    box-shadow: 0px 3px 7px #555;
    background-color: #ddf;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
}

.slide
{
    padding-left: 30px;
    padding-right: 30px;
    -moz-box-shadow: 0px 3px 10px #fff;
    box-shadow: 0px 3px 10px #fff;
    background: -moz-linear-gradient(bottom, #bbd, #fff);
    background: -webkit-linear-gradient(bottom, #bbd, #fff);
}

.theorem h2
{
    color: white;
    -moz-box-shadow: 0px 3px 7px #555;
    box-shadow: 0px 3px 7px #555;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -10px;
    padding: 3px;
    padding-left: 10px;
    font-size: 100%;
    background-color: blue;
}

.first
{
    text-align: center
}

.footer
{
    position: absolute;
    bottom: 0px;
    margin-left: -30px;
    margin-right: -30px;
    width: 100%;
    -moz-box-shadow: 0px 3px 10px #000;
    box-shadow: 0px 3px 10px #000;
}

.footer-left, .footer-right
{
    padding: 5px;
    font-size: 14pt;
    float: left;
    display: block;
    width: 50%;
    color: white;
}

.footer-left
{
    padding-left: 0px;
    padding-right: 20px;
    margin-left: -20px;
    background-color: black;
    text-align: right;
}

.footer-right
{
    padding-left: 20px;
    padding-right: 0px;
    margin-right: -20px;
    background-color: #00c;
    text-align: left;
}

