.minidiv {
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 10px;
    color: #bbb;
    background-color: #d2d3ff;
}

.sidebar {
    width: 200px;
    padding-top: 10px;
    font-size: 12pt;
    background-color: #d0d0d0;
}

.sectionActive, .sectionInactive {
    cursor: pointer;
}

.circleActive, .circleInactive {
    cursor: pointer;
}

.miniframe {
    font-size: 11pt;
}
