/* Classes for user controlled design. */

.subtitle {
    font-size: 60%;
    vertical-align: 7%;
    padding-left: 15px;
}

.theorem {
    box-shadow: 4px 4px 4px #d0d0d0;
    border-top: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
}

.theorem h2 {
    margin: -10px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
    font-variant: normal;
}

.hide {
    opacity: 0.2;
}

/****************/

.timer {
    background-color: #456;
    border-radius: 10px;
    position: absolute;
    height: 100px;
    width: 100px;
    margin: 10px;
    left: 0px;
    bottom: 0px;
    text-align: center;
}

.clockspan {
    font-size: 20px;
    color: white;
}

.consolebox {
    position: absolute;
    z-index: -1;
    box-shadow: inset 0 0 5px 3px black;
    background-color: #456;
}

.consolebox:hover {
    background-color: #789;
}

.messagebox {
    background-color: #456;
    color: white;
    font-size: 12px;
    box-shadow: 0 0  5px #456;
    border-radius: 2px;
    padding: 5px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.mboxhide {
    -moz-transition-property: opacity;
    -moz-transition-duration: 1s;
    opacity: 0;
}

.mozfix {
    position: absolute;
}

a {
    padding: 2px;
    text-decoration: none;
    color: inherit;
}

.link {
    cursor: pointer;
}

section {
    display: none;
}

h1 {
    font-size: 26pt;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: 25px;
}

h2 {
    font-size: 100%;
}

h1 section, .menuul section {
    display: inline;
}

pre {
    font-family: 'Bitstream Vera Sans Mono', 'Droid Sans Mono', 'Inconsolata', 'Courier New', monospace;
    font-size: 18pt;
}

/* chromium bug fix */
.syntaxhighlighter {
    padding: 1px !important;
}

.MathJax_MathML {
    /* mathjax bug? */
    padding: 1px;
}

* {
    margin: 0px;
    padding: 0px;
}

ul {
    margin-left: 1.5em;
}

.slide > ul {
    margin: 0.3em;
    margin-left: 4px;
}

li {
    margin: 0.2em;
    margin-left: 0.8em;
}

.cursorpointer {
    cursor: url(cursor.svg), crosshair;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
}

body {
    background-color: black;
    overflow: hidden;
}

.menuul {
    font-size: 11pt;
}

.menuul, .menuul ul {
    -moz-user-select: none;
    z-index: 1;
    white-space: nowrap;
    position: absolute;
    color: black;
    padding: 0px;
    margin: 0px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 3px 1px #aaa;
}

.menuarrow {
    background: url(styles/pics/li-triangle.svg) no-repeat right;
}

.menuul li {
    list-style: none;
    cursor: pointer;
    margin: 0px;
    padding: 3px;
    padding-left: 3px;
}

.menuul li:hover {
    background-color: #d0d0df;
}

.menuul li ul {
    z-index: 0;
    display: none;
    padding: 0px;
    margin: -2px;
    margin-left: 0px;
}

.inactli {
    color: #aaa;
}

.menuul li:hover ul {
    position: absolute;
    left: 100%;
    display: block;
}

.slide {
    visibility: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
    background-color: white;
    position: absolute;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
}

#clocktime {
    font-size: 60%;
    display: block;
}

#reset, #pause {
    text-decoration: none;
    color: white;
    font-size: 30%;
    font-family: Sans;
}

#time {
    margin-bottom: -21px;
    margin-top: -5px;
    color: #4f0;
    font-weight: bold;
    font-size: 85%;
    display: block;
}

#notesdiv {
    position: absolute;
    font-size: 14px;
    box-shadow: inset 0 0 3px black;
    padding: 10px;
    background-color: white;
    overflow-y: auto;
}

#slidesbutton, #notesbutton {
    font-size: 50%;
    outline: none;
    width: 50px;
    color: yellow;
    margin: auto;
    text-decoration:none;
    cursor: default;
    height: 80%;
    background-color: #345;
    border: none;
    border-radius: 5px;
}

#controls div div {
    background-color: #345;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 5px;
}

#controls div:first-child {
    border-top-left-radius: 10px;
}

#controls div:last-child {
    border-top-right-radius: 10px;
}

#notesbutton:hover, #slidesbutton:hover {
    background-color: #134;
}

#notesbutton:active, #slidesbutton:active {
    border: 1px inset;
}

#notesbutton::-moz-focus-inner, #slidesbutton::-moz-focus-inner {
    border: none;
}

.notesdiv * {
    font-size: 100%;
}

.notes {
    display: none;
}

/* controls */

.minidiv {
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 10px;
    color: #bbb;
    background-color: #d2d3ff;
}

.sidebar {
    width: 200px;
    padding-top: 10px;
    font-size: 12pt;
    background-color: #d0d0d0;
}

.sectionActive, .sectionInactive {
    cursor: pointer;
}

.sidebar ul {
    list-style: none;
}

.circleActive, .circleInactive {
    cursor: pointer;
}

.miniframe {
    font-size: 11pt;
}
