h1 {
    padding: 5px;
    margin-left: -40px;
    font-size: 28pt;
    padding-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 40px;
    background: -moz-linear-gradient(left, #dfe4f0, #d7e7ff);
    background: -webkit-linear-gradient(left, #dfe4f0, #d7e7ff);
    box-shadow: 10px 10px 10px #dfe4f0;
}

.slide {
    font-family: 'open sans';
    font-size: 20pt;
    padding-left: 40px;
    color: #00415c;
    background: -moz-linear-gradient(-45deg, #e2faef, #e5e5ff);
    background: -webkit-linear-gradient(-45deg, #e2faef, #e5e5ff);
}

ul {
    list-style-type:square;
    padding-left:0px;
}

.title {
    padding: 10px;
    padding-left: 30px;
    font-family: 'open sans';
    background-color: white;
    box-shadow: 0 0 5px 5px white;
    position: absolute;
    left:0px;
    top: 100px;
    font-size: 20pt;
    width: 100%;
}

.title h2 {
    font-weight: bold;
    color: black;
    font-size: 30pt;
}

#src li {
    font-size: 80%;
}
